<script type="application/json" class="js-hypothesis-config">
  {
    "openSidebar": false
  }
</script>
<script async src="https://hypothes.is/embed.js"></script>
<div class='footer'>
  Copyright © 2020 <a href='mailto:agarciafdz@gmail.com'>Alejandro García Fdz.</a><br>
  Inspired by <a href='https://nicolas.petton.fr'>https://nicolas.petton.fr</a> <br>
  Last updated on %s. Generated using %s.
</div>
