<div class='intro'>
  <img src='/images/about/profile.png' alt='Alejandro García Fdz' class='no-border'/>
  <h1>
    <span class="black">Alejandro</span>
    <span class="gray">García Fdz.</span>
  </h1>
  <p>If I'm not learning, teaching, programming, loving or hating javascript... I'm dead.</p>
</div>

<div class='nav'>
<ul>
<li><a href='/'>Blog</a>.</li>
<li><a href='http://gitlab.com/agarciafdz'>GitLab</a>.</li>
<li><a href='http://gitlab.com/elviejo79'>GitHub</a>.</li>
<li><a href='https://www.linkedin.com/in/elviejo79/'>linkedin</a>.</li>
<li><a href='/index.xml'>RSS</a>.</li>
<li><a href='/about/'>About</a></li>
</ul>
</div>
